<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head_fragment(title=従業員CSV一括登録結果)"></head>

<body class="h-100 overflow-hidden">
    <div class="row h-100">
        <div class="h-100 p-3 mb-2 bg-dark text-white col-sm-2">
            <nav th:replace="common/side :: copy"></nav>
        </div>
        <div class="mt-3 h-100 col-sm-10">
            <!-- コンテンツ -->
            <div class="container-fluid p-0">
                <h1 class="h3 mb-3">従業員CSV一括登録結果</h1>

                <div class="row">
                    <div class="col-xl-11">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped w-100">
                                    <thead>
                                        <tr>
                                            <th>社員番号</th>
                                            <th>氏名（更新前）</th>
                                            <th>（更新）</th>
                                            <th>権限（更新前）</th>
                                            <th>（更新）</th>
                                            <th>パスワード</th>
                                            <th>削除状態</th>
                                            <th>登録結果</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="result:${resultList}">
                                            <td class="align-middle" th:text="${result.code}"></td>
                                            <td class="align-middle" th:text="${result.formerName}"></td>
                                            <td class="align-middle" th:text="${result.name}"></td>
                                            <td class="align-middle" th:text="${result.formerRole}"></td>
                                            <td class="align-middle" th:text="${result.role}"></td>
                                            <td class="align-middle" th:text="${result.passStatus}"></td>
                                            <td class="align-middle" th:text="${result.deleteStatus}"></td>
                                            <!-- <td class="align-middle" th:text="${result.deleteFlg == false} ? '' : '削除状態'"></td> -->
                                            <td class="align-middle" th:text="${result.resultStatus}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p class="mb-3" th:text="'（ 全' + ${listSize} + '件 ）'">
                            <!-- ボタン等配置 -->
                        <div class="container text-left">
                            <div class="row">
                                <div class="col-2">
                                <a th:href="@{/employees}" class="btn btn-primary">戻る</a>
                                <a th:href="@{/employees/importaction}" class="btn btn-primary">一括登録実行</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>